*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.clear {
  content: "";
  display: block;
  clear: both;
  height: 0;
  float: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 62.5%;
  min-height: 100%;
  line-height: 1;
  background-color: #8699a5;
}

.common-global {
  width: 720px;
  padding: 0 10px;
  margin: 40px auto;
}

.main-title {
  margin-bottom: 40px;
}

.main-title h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 3.2em;
  line-height: 1.2;
  color: #000000;
  text-align: center;
}

.main-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 30px;
}

.main-top div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
}

.main-top-string {
  width: 320px;
}

.main-top-input-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2;
  color: #222020;
  margin: 5px;
}

.main-top input {
  display: block;
  width: 100%;
  height: 39px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.2;
  color: #000000;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.main-top-number {
  width: 200px;
}

.main-top-button {
  width: 130px;
  padding-top: 15px;
  overflow: hidden;
}

.main-top-button button {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.2;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #499879;
}

.main-middle {
  font-style: normal;
  font-weight: normal;
  font-size: 2.3em;
  line-height: 1.2;
  color: #222020;
  text-align: right;
  margin-bottom: 30px;
}

.main-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.main-bottom-elem {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.2;
  color: #222020;
  margin-bottom: 20px;
}

.main-bottom-elem-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

.main-bottom-elem-item__left {
  width: 400px;
}

.main-bottom-elem-item-title {
  margin: 0 10px;
}

.main-bottom-elem-item__middle {
  width: 150px;
}

.main-bottom-elem-item__right {
  width: 65px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-bottom-elem-item__right button {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.2;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.main-bottom-elem-item-button_change {
  width: 31px;
  height: 24px;
}

.main-bottom-elem-item-button_delete {
  width: 24px;
  height: 24px;
}

.main-bottom-elem-item-button_change button {
  background: url(../_images/bg_change.png) no-repeat;
  background-size: cover;
}

.main-bottom-elem-item-button_delete button {
  background: url(../_images/bg_basket.png) no-repeat;
  background-size: cover;
}

.test_edit {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding-top: 20px;
}

.test_edit * {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.title-add {
  width: 270px;
  height: 39px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #000000;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.price-add {
  width: 180px;
  height: 39px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #000000;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-add {
  width: 100px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #499879;
}

.btn-cancel {
  width: 100px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #499879;
}

.result_clear_all {
  padding-top: 20px;
}

.result_clear_all button {
  width: 200px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #b13737;
}